*.user
*.cache
*.dbmdl
*.jfm
*.bacpac
MakeDemoData.sql
.vs
*.pubxml
webjob-publish-settings.json
Settings.job
/packages
/AnalysisServicesDatabase/bin
/AnalysisServicesDatabase/obj
/DailyProcessingWebJob/bin
/DailyProcessingWebJob/obj
/SqlServerDatabase/bin
/SqlServerDatabase/obj
appsettings-test.json.cs
