*.user
*.cache
*.dbmdl
*.jfm
*.bacpac
MakeDemoData.sql
.vs
/packages
/AnalysisServicesDatabase/bin
/AnalysisServicesDatabase/obj
/DailyProcessingWebJob/bin
/DailyProcessingWebJob/obj
/SqlServerDatabase/bin
/SqlServerDatabase/obj
