################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.cache
*.dbmdl
.vs/
*.jfm
*.bacpac
MakeDemoData.sql
/AnalysisServicesDatabase/bin
/DailyProcessingWebJob/bin/Debug
/AnalysisServicesDatabase/obj/Development
/DailyProcessingWebJob/obj/Debug
/packages
/SqlServerDatabase/bin/Debug
/SqlServerDatabase/obj/Debug
